extends layout

block content
  div(class="content")
    h1(class="text-center")=title
    h2(class="text-center")="We're still working on this one :)"
    div(class="row mt-4")
      div(class="col text-center ")
        img(class="w-75 h-75" src=image)
