@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {  background: white; } 
a { color: #28a745; }
h1 { font-family: 'Lato', sans-serif; font-size: 1.5rem; }
h2, h3 { font-family: 'Lato', sans-serif; font-size: 1.0rem; color: gray; }
p { color: #333; margin-bottom: 0.5rem; }
li { list-style: none; }
strike { color: gray; }

.header {background: #f2f2f2;}
.content { background: white; }
.dropdown-menu { background: #f6f6f6 }
.imgThumb { width: 25vw; }
.seeMoreBtn { padding: .20rem .40rem }